<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>
<!-- welcome card -->
<ion-content>
    <ion-card class="portada">
        <ion-img src="/assets/img/uucc.jpg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle color="secondary">
                "Conocimiento y Cultura para el Desarrollo Humano"
            </ion-card-subtitle>
            <ion-card-title>¡Bienvenido!</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Nuestros recursos web</ion-label>
        </ion-list-header>
        <ion-item href="http://www.unicaribe.mx/">
            <ion-icon slot="start" color="medium" name="school"></ion-icon>
            <ion-label>Ir a la página oficial Unicaribe</ion-label>
        </ion-item>
        <ion-item href="http://www.unicaribe.mx/pagina/portalunicaribe">
            <ion-icon slot="start" color="medium" name="browsers"></ion-icon>
            <ion-label>Ir a sistemas informáticos</ion-label>
        </ion-item>
        <ion-item href="https://uclb.ucaribe.edu.mx/sigmaav2/sistema/loginInicio">
            <ion-icon slot="start" color="medium" name="paper"></ion-icon>
            <ion-label>Ir a Sigmaa</ion-label>
        </ion-item>
        <ion-item href="http://biblioteca.unicaribe.mx/">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Biblioteca</ion-label>
        </ion-item>
        <ion-item href="http://www.unicaribe.mx/directorio">
            <ion-icon slot="start" color="medium" name="call"></ion-icon>
            <ion-label>Directorio</ion-label>
        </ion-item>
    </ion-list>
</ion-content>